name: Format (prettier)

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main
      - 'renovate/**'

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: false

      - name: Run Format (prettier)
        run: npx prettier . --check
