name: Code generation

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'pnpm-lock.yaml'
      - 'scripts/**'
      - '.github/workflows/generate.yml'
  push:
    branches:
      - main
    paths:
      - 'pnpm-lock.yaml'
      - 'scripts/**'
      - '.github/workflows/generate.yml'

permissions: {}

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: oxc-project/setup-node@141eb77546de6702f92d320926403fe3f9f6a6f2 # v1.0.5

      - name: Remove current generated code
        run: rm -r ./src/generated/

      - name: Generate from source code
        run: pnpm run generate

      - name: Format generated code
        run: pnpm run format

      - name: Check for git diff
        run: git diff --exit-code
