name: Test

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: oxc-project/setup-node@8958a8e040102244b619c4a94fccb657a44b1c21 # v1.0.6

      - name: Run oxlint
        run: npx oxlint --type-aware --type-check

      - name: Run eslint
        run: npx eslint

      - name: Run Format (oxfmt)
        run: npx oxfmt . --check

      - name: Run tests
        run: pnpm run test --coverage
