name: Test

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: oxc-project/setup-node@141eb77546de6702f92d320926403fe3f9f6a6f2 # v1.0.5

      - name: Run oxlint
        run: npx oxlint --tsconfig=tsconfig.json

      - name: Run eslint
        run: npx eslint

      - name: Run Format (oxfmt)
        run: npx oxfmt . --check

      - name: Type Check
        run: npx tsc --noEmit

      - name: Run tests
        run: pnpm run test --coverage
