name: Test

on:
  push:
    branches:
      - main
  pull_request_target:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install Dependencies
        run: pnpm i

      - name: Run Linters
        run: pnpm run lint

      - name: Run tests
        run: pnpm run test --coverage
